__pycache__/
*.py[cod]
*$py.class
*.so
env/
build/
dist/
sdist/
wheels/
*.egg-info/
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*.log
docs/_build/
.ipynb_checkpoints
.python-version
.env
/*.ipynb
foo*
/test*.py
